.profileMenu {
  background-color: #f6f6f6;
}

.profileMenu__active {
  border-bottom: 4px solid red;
  height: 70px;
}

.profileMenu__container {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}


