.sidebarRow__iconMenu, .sidebarRow__icon {
  font-size: xx-large !important;
}

.sidebarRow__iconMenu {
  color: white;
}

.sidebarRow__icon {
  color: #3f4257;
}

.sidebarRow__icon:hover {
  transform: scale(1.1);
}

.sidebarRow__item {
  display: grid;
  place-items: center;
  width: 70px;
  height: 70px;
}