.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  height: 70px;
  background-color: white;
}

.header__container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
}


.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo h4 > {
  display: flex;
}

.header__logo > img {
  width: 50px;
}